.header-outer {
  height: 60px;
  border-bottom: 1px solid rgb(207, 205, 205);
  padding: 10px;
}

.header-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.leftsec {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.leftsec > img {
  height: 20px;
  width: 20px;
}
.header-rightsec {
}
.header-middlesec {
}
.header-label {
  margin-left: 40px;
  margin-right: 30px;
}
.header-label > span {
  color: rgb(210, 192, 55);
}
.header-right-img {
  height: 20px;
  width: 20px;
  margin-right: 30px;
}
